// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
$blue: #0b2e69;
$pink: #ac2166;
body{
  font-family: 'Century Gothic', sans-serif;
}
Label{
  font-family: 'Century Gothic', sans-serif;
}
.blue-color{
  color: $blue;
}
.fa {
    font-family: FontAwesome, fontawesome-webfont;
  }
  .main-navigation-frame{
    .navigation-list{
      border-top-width: 0.5;
      border-color: #d3d3d3;
      // border-top: 1px solid #333333;
      background: #f7f7f7;
      .nav-link{
        font-size: 17;
        border-right-width: 0.5;
        border-color: #d3d3d3;
        &.active{
          background: #e6e6e6;
          Label{
            font-weight: bold;
          }
        }
        &:last-child{
          border-width: 0;
        }
        Label{
          color: $blue;
          margin-top: 5;
          text-transform: lowercase;
        }
      }
    }
  }
  .homepage{
    background: url('~/assets/images/map-bg.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%;
    padding: 20 30 20 30;
    .welcome-heading{
      background: rgba(255,255,255,.8);
      padding: 30 20 30 20;
      border-radius: 10;
      border-width: 0.5;
      border-color: rgba(0,0,0,.1);
    }
  }
  .btn{
    padding: 10 16 10 16;
    border-radius: 20;
    border-width: 1;
    border-color: $blue;
    font-size: 16;
    color: $blue;
    text-align: center;
    &.btn-accent{
      background: linear-gradient(90deg, $pink, $blue);
      border-color: transparent;
      color: #fff;
    }
  }
  .link{
    color: #ac2166;
    font-weight: bold;
    font-size: 15;
    text-decoration: underline;
  }
  .profile-card{
    background: rgba(255,255,255,.8);
    padding: 30 20 35 20;
    border-width: 0.5;
    border-color: rgba(0,0,0,.4);
  }
  .user-nav{
    flex-direction: row;
    align-items: center;
    border-width: 0.5;
    border-color: rgba(0,0,0,.4);
    .link-tab{
      padding: 15 10 15 10;
      width: 50%;
      color: $blue;
      background: #fff;
      text-align: center;
      &.active{
        background: $blue;
        color: #fff;
      }
      & + .link-tab{
        border-left-width: 0.5;
        border-color: rgba(0,0,0,.4);
      }
    }
  }
#user-profile-info{
  padding: 20 20 10 20;
  .input-field{
    margin-bottom: 10;
  }
}
#user-services-list{
  .servcie-container{
    margin-bottom: 10;
    .info{
      padding: 10 10 10 20;
    }
  }
}
.service-data-info{
  .section-title{
    border-color: rgba(0,0,0,1);
    border-bottom-width: 0.5;
    margin-top: 10;
    margin-bottom: 20;
    font-weight: bold;
    font-size: 17;
    color: #222;
  }
  .input-field{
    margin-bottom: 10;
  }
}
.all-services{
  .servcie-container{
    padding: 5 0;
    border-color: rgba(0,0,0,1);
    border-bottom-width: 0.5;
    margin-bottom: 10; 
    .info{
      padding: 10 10 10 10;
    }
  }
}
.gm-style-iw-d {
  overflow: auto !important;
  div{
    background: transparent;
  }
  span{
    background: transparent;
  }
}

.gm-style .gm-style-iw-c {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}